*.o
*.a
*.so

#Autotools
.deps
.libs
*.Plo
*.la
*.lo
Makefile
config.log
config.status

DEMO/basis

run/plex
run/pparse
run/pregex
run/ppgram2c
run/pvm

examples/parsing
examples/lexing
examples/regex
